html,
body {
  margin: 0;
  height: 100%;
  overscroll-behavior: none;
}

#app {
  height: 100%;
  box-sizing: border-box;
}

.chart-wrap {
  width: 100%;
  height: min(720px, calc(100vh));
  min-height: 300px;
  overscroll-behavior: contain;
  touch-action: none;
}
